/*
Theme Name: ChaiGaram
Description: ChaiGaram, Artisteer-generated Drupal theme.
Version: 1.0
Author: Artisteer
Author URI: http://artisteer.com/
*/

/* begin Page */

/* Generated with Artisteer version 2.1.0.16090, file checksum is 8EE26949. */

body
{
	margin: 0 auto;
	padding: 0;
	background-color: #D1D1D1;
}

.Main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}




.PageBackgroundSimpleGradient
{
	position: absolute;
	background-image: url('images/Page-BgSimpleGradient.jpg');
	background-repeat: repeat-x;
	top:0;
	width: 100%;
	height: 1px;
}

.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}


form
{
	padding:0 !important;
	margin:0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 960px;
	min-width:89px;
	min-height:89px;
}

.Sheet-body
{
	position: relative;
	z-index:1;
	padding: 22px;
}

.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl, .Sheet-tc, .Sheet-bc,.Sheet-cr, .Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl
{
	width: 136px;
	height: 136px;
	background-image: url('images/Sheet-s.png');
}

.Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 68px, 68px, auto);
}

.Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 68px, 68px);
}

.Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(68px, 68px, auto, auto);
}

.Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(68px, auto, auto, 68px);
}

.Sheet-tc, .Sheet-bc
{
	left: 68px;
	right: 68px;
	height: 136px;
	background-image: url('images/Sheet-h.png');
}

.Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 68px, auto);
}

.Sheet-bc
{
	bottom: 0;
	clip: rect(68px, auto, auto, auto);
}

.Sheet-cr, .Sheet-cl
{
	top: 68px;
	bottom: 68px;
	width: 136px;
	background-image: url('images/Sheet-v.png');
}

.Sheet-cr
{
	right:0;
	clip: rect(auto, auto, auto, 68px);
}

.Sheet-cl
{
	left:0;
	clip: rect(auto, 68px, auto, auto);
}

.Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 68px;
	left: 68px;
	right: 68px;
	bottom: 68px;
	background-color: #FFFFFF;
}


.Sheet
{
	margin-top: 15px !important;
}

.PageBackgroundSimpleGradient, .PageBackgroundGradient, .PageBackgroundGlare
{
	min-width:960px;
}

/* end Box, Sheet */

/* begin Header */
div.Header
{
	margin: 0 auto;
	position: relative;
	z-index:0;
	width: 916px;
	height: 100px;
}

div.Header-png
{
	position: absolute;
	z-index:-2;
	top: 0;
	left: 0;
	width: 916px;
	height: 100px;
	background-image: url('images/Header.png');
	background-repeat: no-repeat;
	background-position: left top;
}

div.Header-jpeg
{
	position: absolute;
	z-index:-1;
	top: 0;
	left: 0;
	width: 916px;
	height: 100px;
	background-image: url('images/Header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
/* end Header */

/* begin Logo */
.logo
{
	display : block;
	position: absolute;
	left: 10px;
	top: 10px;
	width: 896px;
}

.logo-image
{
float:left;
margin: 0 14px 0 0;
}

h1.logo-name
{
	
	text-align: left;
}

h1.logo-name, h1.logo-name a, h1.logo-name a:link, h1.logo-name a:visited, h1.logo-name a:hover
{
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 26px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	padding:0;
	margin:0;
	color: #ECE9DA !important;
}

.logo-text
{
	display: block;
	text-align: left;
}

.logo-text, .logo-text a
{
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	padding:0;
	margin:0;
	color: #F6F6F6 !important;
}
/* end Logo */

/* begin Menu */
/* menu structure */

.artmenu a, .artmenu a:link, .artmenu a:visited, .artmenu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.artmenu, .artmenu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.artmenu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.artmenu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.artmenu li li
{
	float: none;
}

.artmenu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.artmenu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.artmenu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.artmenu:after, .artmenu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.artmenu, .artmenu ul
{
	min-height: 0;
}

.artmenu ul
{
	background-image: url(images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.artmenu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}




/* menu structure */

.artmenu
{
	padding: 12px 6px 0px 6px;
}

.nav
{
	position: relative;
	height: 41px;
	z-index: 100;
}

.nav .l, .nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 41px;
	background-image: url('images/nav.png');
}

.nav .l
{
	left: 0;
	right:0px;
}

.nav .r
{
	right: 0;
	width: 916px;
	clip: rect(auto, auto, auto, 916px);
}

/* end Menu */

/* begin MenuItem */
.artmenu ul li
{
	clear: both;
}

.artmenu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 29px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 2px;
	margin-left: 2px;
}


.artmenu a .r, .artmenu a .l
{
	position:absolute;
	display: block;
	height: 87px;
	background-image: url('images/MenuItem.png');
}

.artmenu a .l
{
	left:0;
	right:4px;
}

.artmenu a .r
{
	width:408px;
	right:0;
	clip: rect(auto, auto, auto, 404px);
}

.artmenu a .t 
{
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #2D312B;
	padding: 0 19px;
	margin: 0 4px;
	line-height: 29px;
	text-align: center;
}

.artmenu a:hover .l, .artmenu a:hover .r
{
	top:-29px;
}

.artmenu li:hover>a .l, .artmenu li:hover>a .r
{
	top:-29px;
}

.artmenu li:hover a .l, .artmenu li:hover a .r
{
	top:-29px;
}
.artmenu a:hover .t
{
	color: #52594F;
}

.artmenu li:hover a .t
{
	color: #52594F;
}

.artmenu li:hover>a .t
{
	color: #52594F;
}


.artmenu a.active .l, .artmenu a.active .r
{
	top: -58px;
}

.artmenu a.active .t
{
	color: #141613;
}


/* end MenuItem */

/* begin MenuSubItem */
.artmenu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	width: 180px;
	overflow:hidden;
	line-height: 20px;
	margin-right: auto;


	background-image: url('images/subitem-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 0px;
	border-style: solid;
}

.nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
}

.artmenu ul a, .artmenu ul a:link, .artmenu ul a:visited, .artmenu ul a:hover, .artmenu ul a:active, .nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 20px;
	color: #000000;
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.artmenu ul ul a
{
	margin-left: auto;
}

.artmenu ul li a:hover
{
	color: #F6F6F6;
	background-position: 0 -20px;
}

.artmenu ul li:hover>a
{
	color: #F6F6F6;
	background-position: 0 -20px;
}

.nav .artmenu ul li a:hover span, .nav .artmenu ul li a:hover span span
{
	color: #F6F6F6;
}

.nav .artmenu ul li:hover>a span, .nav .artmenu ul li:hover>a span span
{
	color: #F6F6F6;
}


/* end MenuSubItem */

/* begin ContentLayout */
.contentLayout
{
	position: relative;
	margin-bottom: 6px;
	width: 916px;
}
/* end ContentLayout */

/* begin Box, Block */
.Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:29px;
	min-height:29px;
}

.Block-body
{
	position: relative;
	z-index:1;
	padding: 10px;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl, .Block-tc, .Block-bc,.Block-cr, .Block-cl
{
	position:absolute;
	z-index:-1;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl
{
	width: 40px;
	height: 40px;
	background-image: url('images/Block-s.png');
}

.Block-tl
{
	top:0;
	left:0;
	clip: rect(auto, 20px, 20px, auto);
}

.Block-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 20px, 20px);
}

.Block-bl
{
	bottom: 0;
	left: 0;
	clip: rect(20px, 20px, auto, auto);
}

.Block-br
{
	bottom: 0;
	right: 0;
	clip: rect(20px, auto, auto, 20px);
}

.Block-tc, .Block-bc
{
	left: 20px;
	right: 20px;
	height: 40px;
	background-image: url('images/Block-h.png');
}

.Block-tc
{
	top: 0;
	clip: rect(auto, auto, 20px, auto);
}

.Block-bc
{
	bottom: 0;
	clip: rect(20px, auto, auto, auto);
}

.Block-cr, .Block-cl
{
	top: 20px;
	bottom: 20px;
	width: 40px;
	background-image: url('images/Block-v.png');
}

.Block-cr
{
	right:0;
	clip: rect(auto, auto, auto, 20px);
}

.Block-cl
{
	left:0;
	clip: rect(auto, 20px, auto, auto);
}

.Block-cc
{
	position:absolute;
	z-index:-1;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background-color: #FFFFFF;
}


.Block
{
	margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 13px;
	margin-bottom: 0px;
}

.BlockHeader .t
{
	height: 30px;
	color: #000000;
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	white-space : nowrap;
	padding: 0 13px;
	line-height: 30px;
}




/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.BlockContent-body
{
	position: relative;
	z-index:1;
	padding: 13px;
}



.BlockContent-body
{
	color:#000000;
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.BlockContent-body a:link
{
	color: #037C05;
	font-family: Georgia, "Times New Roman", Times, Serif;
	text-decoration: underline;
}

.BlockContent-body a:visited, .BlockContent-body a.visited
{
	color: #5E675B;
	font-family: Georgia, "Times New Roman", Times, Serif;
	text-decoration: underline;
}

.BlockContent-body a:hover, .BlockContent-body a.hover
{
	color: #070BE4;
	font-family: Georgia, "Times New Roman", Times, Serif;
	text-decoration: none;
}

.BlockContent-body ul
{
	list-style-type: none;
	color: #282B26;
	margin:0;
	padding:0;
}

.BlockContent-body li
{
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 12px;
	text-decoration: none;
}

.BlockContent-body ul li
{
	padding:0px 0 0px 11px;
	background-image: url('images/BlockContentBullets.png');
	background-repeat:no-repeat;
	margin:0.5em 0 0.5em 0;
	line-height:1.2em;
	list-style-image:none;
	list-style-type:none;
}

/* end Box, BlockContent */

/* begin Box, Post */
.Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.Post-body
{
	position: relative;
	z-index:1;
	padding: 10px;
}



.Post
{
	margin: 10px;
}

/* Start images */
a img
{
	border: 0;
}

.article img, img.article
{
	border: solid 1px #037C05;
	margin: 1em;
}

.metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin:2px;
}
/* Finish images */

/* Start tables */

.article table, table.article
{
	border-collapse: collapse;
	margin: 1px;
	width:auto;
}

.article table, table.article .article tr, .article th, .article td
{
	background-color:Transparent;
}

.article th, .article td
{
	padding: 2px;
	border: solid 1px #037C05;
	vertical-align: top;
	text-align:left;
}

.article th
{
	text-align:center;
	vertical-align:middle;
	padding: 7px;
}

/* Finish tables */
/* end Box, Post */

/* begin PostHeaderIcon */
.PostHeaderIcon-wrapper
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	color: #000000;
}

.PostHeaderIcon-wrapper, .PostHeaderIcon-wrapper a, .PostHeaderIcon-wrapper a:link, .PostHeaderIcon-wrapper a:visited, .PostHeaderIcon-wrapper a:hover
{
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	color: #000000;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.PostHeader a:link
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  text-decoration: none;
  text-align: left;
  color: #037C05;
}

.PostHeader a:visited, .PostHeader a.visited
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  text-decoration: none;
  text-align: left;
  color: #666666;
}

.PostHeader a:hover, .PostHeader a.hovered
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  text-decoration: none;
  text-align: left;
  color: #070BE4;
}
/* end PostHeader */

/* begin PostIcons */
.PostHeaderIcons
{
	padding:1px;
}

.PostHeaderIcons, .PostHeaderIcons a, .PostHeaderIcons a:link, .PostHeaderIcons a:visited, .PostHeaderIcons a:hover
{
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 11px;
	color: #3E443C;
}

.PostHeaderIcons a, .PostHeaderIcons a:link, .PostHeaderIcons a:visited, .PostHeaderIcons a:hover
{
	margin:0;
}

.PostHeaderIcons a:link
{
	font-family: Georgia, "Times New Roman", Times, Serif;
	text-decoration: underline;
	color: #037C05;
}

.PostHeaderIcons a:visited, .PostHeaderIcons a.visited
{
	font-family: Georgia, "Times New Roman", Times, Serif;
	text-decoration: underline;
	color: #575F54;
}

.PostHeaderIcons a:hover, .PostHeaderIcons a.hover
{
	font-family: Georgia, "Times New Roman", Times, Serif;
	text-decoration: none;
	color: #070BE4;
}
/* end PostIcons */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.PostContent
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  color: #000000;
}


/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  text-decoration: underline;
  color: #037C05;
}

/* Adds special style to an unvisited link. */
a:link
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  text-decoration: underline;
  color: #037C05;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  text-decoration: underline;
  color: #5E675B;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  text-decoration: none;
  color: #070BE4;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #037C05;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #037C05;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #000000;
}
/* Finish Content headings Fonts & Colors  */
/* end PostContent */

/* begin PostBullets */
/* Start Content list */
ol, ul
{
	color: #3E443C;
	margin:1em 0 1em 2em;
	padding:0;
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 12px;
}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
	
}



.Post li
{
	padding:0px 0 0px 26px;
	line-height:1.2em;
}

.Post ol li, .Post ul ol li
{
	background: none;
	padding-left:0;
}

.Post ul li, .Post ol ul li 
{
	background-image: url('images/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:26px;
	list-style-image:none;
	list-style-type:none;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */
blockquote p
{
	color:#0C0E0C;
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-style: italic;
	font-weight: normal;
	text-align: left;
}

blockquote
{
		border:solid 1px #D1D1D1; 
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 41px;
	background-color:#D1D1D1;
	background-image:url('images/PostQuote.png');
	background-position:left top;
	background-repeat:no-repeat;
}


/* Finish blockuote */
/* end PostQuote */

/* begin PostIcons */
.PostFooterIcons
{
	padding:1px;
}

.PostFooterIcons, .PostFooterIcons a, .PostFooterIcons a:link, .PostFooterIcons a:visited, .PostFooterIcons a:hover
{
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 11px;
	text-decoration: none;
	color: #000000;
}

.PostFooterIcons a, .PostFooterIcons a:link, .PostFooterIcons a:visited, .PostFooterIcons a:hover
{
	margin:0;
}

.PostFooterIcons a:link
{
	font-family: Georgia, "Times New Roman", Times, Serif;
	text-decoration: underline;
	color: #037C05;
}

.PostFooterIcons a:visited, .PostFooterIcons a.visited
{
	font-family: Georgia, "Times New Roman", Times, Serif;
	text-decoration: underline;
	color: #5E675B;
}

.PostFooterIcons a:hover, .PostFooterIcons a.hover
{
	font-family: Georgia, "Times New Roman", Times, Serif;
	text-decoration: none;
	color: #070BE4;
}
/* end PostIcons */

/* begin Button */
.Button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:22px;
	margin:0;
	padding:0;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
}

.Button .btn
{
	display:block;
	position:relative;
	float:left;
	height: 22px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	color: #000000;
}

.Button .btn .t
{
	display:block;
	height: 22px;
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	text-align: left;
	padding: 0 5px;
	line-height: 22px;
	text-decoration: none !important;
}

input, select
{
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.Button .hover, .Button:hover
{
	color: #000000;
	text-decoration: none !important;
}

.Button .active
{
	color: #000000;
}

.Button .btn .l, .Button .btn .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 66px;
	background-image: url('images/Button.png');
}

.Button .btn .l
{
	left:0;
	right:7px;
}

.Button .btn .r
{
	width:415px;
	right:0;
	clip: rect(auto, auto, auto, 408px);
}

.Button .btn.hover .l, .Button .btn.hover .r, .Button .btn:hover .l, .Button .btn:hover .r
{
	top: -22px;
}

.Button .btn.active .l, .Button .btn.active .r
{
	top: -44px;
}


/* end Button */

/* begin Footer */
.Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 916px;
	margin: 5px auto 0px auto;
}

.Footer .Footer-inner
{
	height:1%;
	position: relative;
	z-index: 0;
	padding: 8px;
	text-align: center;
}

.Footer .Footer-background
{
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	background-image: url('images/Footer.png');
	width: 916px;
	height: 150px;
	bottom:0;
	left:0;
}


.Footer .Footer-text p
{
	margin: 0;
}

.Footer .Footer-text
{
	display:inline-block;
	color:#F6F6F6;
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 11px;
}

.Footer .Footer-text a:link
{
	text-decoration: none;
	color: #FCF8E9;
	font-family: Georgia, "Times New Roman", Times, Serif;
	text-decoration: underline;
}

.Footer .Footer-text a:visited
{
	text-decoration: none;
	color: #D1D1D1;
	font-family: Georgia, "Times New Roman", Times, Serif;
	text-decoration: underline;
}

.Footer .Footer-text a:hover
{
	text-decoration: none;
	color: #070BE4;
	font-family: Georgia, "Times New Roman", Times, Serif;
	text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.page-footer, .page-footer a, .page-footer a:link, .page-footer a:visited, .page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#AE8E19;
}

.page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#847743;
}
/* end PageFooter */

/* begin LayoutCell */
.contentLayout .content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 687px;
}
.contentLayout .content-wide
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 915px;
}
/* end LayoutCell */

/* begin LayoutCell */
.contentLayout .sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 228px;
}
/* end LayoutCell */



/*
** HTML elements
*/
#footer
{
	text-align: center;
}

ul li 
{
	text-align: left;
	background-image: none;
	display: block;
}

li.expanded, li.leaf, li.collapsed
{
	list-style-type: none;
	list-style-image: none;
	background-image: none;
}

.tabs, .links, .service-links img, service-links img
{
	padding-left: 0px;
	margin: 0px;
}

.tabs li, .links li
{
	float: left;
	display: block;
	padding: 0 0 0 1em;
}

#user-login-form 
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left:0;
}

fieldset
{
	margin: 1em 0;
	padding: 1em;
	border: 1px solid ;
	width: 95%;
}

fieldset legend 
{
	/* Fix disappearing legend in FFox */
	display: block;
}

.breadcrumb 
{
	display: block; 
	padding-bottom: .7em;
}

.form-text, .form-textarea
{
	width: 95%;
	text-align: left;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background:#C9FBC8;
	margin: 5px 0;
}

.messages li
{
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0px transparent;
	border-bottom: 0px transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0px;
	text-align:left;
}

.sticky-table H2
{
	font-size: 10px;
}

.Footer .Footer-inner
{
	float: left;
	width: 100%;
}
