/* begin Page */

/* Generated with Artisteer version 2.1.0.16090, file checksum is AE60D841. */

img
{
	behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')", this.src = GetStyleUrl()+"images/spacer.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''), this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')", this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}
/* end Page */

/* begin Box, Sheet */
.Sheet, .Sheet-body
{
	zoom:1;
}

.Sheet-body
{
	position:static;
}

.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl, .Sheet-tc, .Sheet-bc,.Sheet-cr, .Sheet-cl
{
	font-size: 1px;
	background: none;
}

.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-s.png',sizingMethod='scale')");
}

.Sheet-tl
{
	clip: rect(auto 68px 68px auto);
}

.Sheet-tr
{
	left: expression(this.parentNode.offsetWidth-136+'px');
	clip: rect(auto auto 68px 68px);
}

.Sheet-bl
{
	top: expression(this.parentNode.offsetHeight-136+'px');
	clip: rect(68px 68px auto auto);
}

.Sheet-br
{
	top: expression(this.parentNode.offsetHeight-136+'px');
	left: expression(this.parentNode.offsetWidth-136+'px');
	clip: rect(68px auto auto 68px);
}

.Sheet-tc, .Sheet-bc
{
	width: expression(this.parentNode.offsetWidth-136+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-h.png',sizingMethod='scale')");
}

.Sheet-tc
{
	clip: rect(auto auto 68px auto);
}

.Sheet-bc
{
	top: expression(this.parentNode.offsetHeight-136+'px');
	clip: rect(68px auto auto auto);
}

.Sheet-cr, .Sheet-cl
{
	height: expression(this.parentNode.offsetHeight-136+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-v.png',sizingMethod='scale')");
}

.Sheet-cr
{
	left: expression(this.parentNode.offsetWidth-136+'px');
	clip: rect(auto auto auto 68px);
}

.Sheet-cl
{
	clip: rect(auto 68px auto auto);
}

.Sheet-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-136+'px');
	height: expression(this.parentNode.offsetHeight-136+'px');
	background-color: #FFFFFF;
}
.PageBackgroundSimpleGradient, .PageBackgroundGradient, .PageBackgroundGlare
{
	width:expression(document.body.clientWidth > 960 ? "100%" : "960px");
}
/* end Box, Sheet */

/* begin Header */
div.Header-png
{
	font-size: 1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Header.png',sizingMethod='crop')");
}
/* end Header */

/* begin Menu */

.artmenu ul
{
	height: 1%;
	width:1px;
}

.artmenu, .artmenu ul
{
	height: 1%;
}

.artmenu li.artmenuhover
{
	z-index: 10000;
}

.artmenu .artmenuhoverUL
{
	visibility: visible;
}

.artmenu .artmenuhoverUL
{
	top: 100%;
	left: 0;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
	top: 0;
	left: 100%;
}

.artmenu ul a
{
	height: 1%;
}

.artmenu li li
{
	float: left;
	width: 100%;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
	top: 5px;
	left: 100%;
}

.artmenu, .artmenu ul
{
	height: 1%;
}

.artmenu li.artmenuhover
{
	z-index: 10000;
}

.artmenu .artmenuhoverUL
{
	visibility: visible;
}

.artmenu .artmenuhoverUL
{
	top: 100%;
	left: 0;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
	top: 0;
	left: 100%;
}

.artmenu ul a
{
	height: 1%;
}

.artmenu li li
{
	float: left;
	width: 100%;
}

.nav
{
	zoom: 1;
}

.nav .l, .nav .r
{
	font-size: 1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/nav.png',sizingMethod='crop')");
}

.nav .l
{
	width: expression(this.parentNode.offsetWidth-0+'px');;
}

.nav .r
{
	left: expression(this.parentNode.offsetWidth-916+'px');
	clip: rect(auto auto auto 916px);
}
/* end Menu */

/* begin MenuItem */
.artmenu a
{
	float:left;
}

.artmenu a:hover
{
	visibility:visible;
}

.artmenu a .r, .artmenu a .l
{
	font-size:1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/MenuItem.png',sizingMethod='crop')");
}

.artmenu a .r
{
	left: expression(this.parentNode.offsetWidth-408+'px');
	clip: rect(auto auto auto 404px);
}

.artmenu a .l
{
	width: expression(this.parentNode.offsetWidth-4+'px');
}

.artmenuhover .artmenuhoverA .t
{
	color: #52594F;
}

.artmenuhover .artmenuhoverA .l, .artmenuhover .artmenuhoverA .r
{
	top: -29px;
}
/* end MenuItem */

/* begin MenuSubItem */

.artmenu ul a
{
	color: #000000 !important;
}

.artmenu ul a:hover {
	color: #F6F6F6 !important;
}	

.artmenu ul .artmenuhover .artmenuhoverA
{
	color: #F6F6F6 !important;
	background-position: 0 -20px;
}

.nav .artmenu ul a:hover span, .nav .artmenu ul a:hover span span
{
	color: #F6F6F6 !important;
}	

.nav .artmenu ul .artmenuhover .artmenuhoverA span, .nav .artmenu ul .artmenuhover .artmenuhoverA span span
{
	color: #F6F6F6 !important;
}

/* end MenuSubItem */

/* begin Box, Block */
.Block, .Block-body
{
	zoom:1;
}

.Block-body
{
	position:static;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl, .Block-tc, .Block-bc,.Block-cr, .Block-cl
{
	font-size: 1px;
	background: none;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-s.png',sizingMethod='scale')");
}

.Block-tl
{
	clip: rect(auto 20px 20px auto);
}

.Block-tr
{
	left: expression(this.parentNode.offsetWidth-40+'px');
	clip: rect(auto auto 20px 20px);
}

.Block-bl
{
	top: expression(this.parentNode.offsetHeight-40+'px');
	clip: rect(20px 20px auto auto);
}

.Block-br
{
	top: expression(this.parentNode.offsetHeight-40+'px');
	left: expression(this.parentNode.offsetWidth-40+'px');
	clip: rect(20px auto auto 20px);
}

.Block-tc, .Block-bc
{
	width: expression(this.parentNode.offsetWidth-40+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-h.png',sizingMethod='scale')");
}

.Block-tc
{
	clip: rect(auto auto 20px auto);
}

.Block-bc
{
	top: expression(this.parentNode.offsetHeight-40+'px');
	clip: rect(20px auto auto auto);
}

.Block-cr, .Block-cl
{
	height: expression(this.parentNode.offsetHeight-40+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-v.png',sizingMethod='scale')");
}

.Block-cr
{
	left: expression(this.parentNode.offsetWidth-40+'px');
	clip: rect(auto auto auto 20px);
}

.Block-cl
{
	clip: rect(auto 20px auto auto);
}

.Block-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-40+'px');
	height: expression(this.parentNode.offsetHeight-40+'px');
	background-color: #FFFFFF;
}
/* end Box, Block */

/* begin BlockHeader */
.BlockHeader, .BlockHeader
{
	font-size: 1px;
}

.header-tag-icon
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockHeaderIcon.png',sizingMethod='crop')");
}

/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent, .BlockContent-body
{
	zoom:1;
}

.BlockContent-body
{
	position:static;
}

.BlockContent-body ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockContentBullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Box, Post */
.Post, .Post-body
{
	zoom:1;
}

.Post-body
{
	position:static;
}
/* end Box, Post */

/* begin PostContent */
h1
{
  margin: 0.67em 0;
}

h2
{
  margin: 0.8em 0;
}

h3
{
  margin: 1em 0;
}

h4
{
  margin: 1.25em 0;
}

h5
{
  margin: 1.67em 0;
}

h6
{
  margin: 2.33em 0;
}
/* end PostContent */

/* begin PostBullets */
.Post ul li, .Post ol ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/PostBullets.png',sizingMethod='crop')");
}

.Post ul ol li
{
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
/* end PostBullets */

/* begin PostQuote */
blockquote
{
	height:1%;
	background-image: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/PostQuote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Button */
.Button
{
	display:list-item;
	list-style-type:none;
	float:left;
}

.Button, .Button .btn, .Button .btn .l, .Button .btn .r
{
	font-size: 1px;
}

.Button .btn .t
{
	display:inline-block;
}

.Button .btn .l, .Button .btn .r
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Button.png',sizingMethod='crop')");
}

.Button .btn .r
{
	left: expression(this.parentNode.offsetWidth-415+'px');
	clip: rect(auto auto auto 408px);
}

.Button .btn .l
{
	width: expression(this.parentNode.offsetWidth-7+'px');
}

/* end Button */

/* begin Footer */
.Footer .Footer-background
{
	top: expression(this.parentNode.offsetHeight-150+'px');
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Footer.png',sizingMethod='crop')");
	zoom: 1;
	font-size:1px;
}

.rss-tag-icon
{
	zoom:1;
	font-size:1px;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/rssIcon.png',sizingMethod='crop')");
}

/* end Footer */



#user-login-form ul li
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
