/* begin Box, Sheet */
.Sheet-tl
{
	clip: rect(auto 68px 68px auto);
}

.Sheet-tr
{
	clip: rect(auto auto 68px 68px);
}

.Sheet-bl
{
	clip: rect(68px 68px auto auto);
}

.Sheet-br
{
	clip: rect(68px auto auto 68px);
}

.Sheet-tc
{
	clip: rect(auto auto 68px auto);
}

.Sheet-bc
{
	clip: rect(68px auto auto auto);
}

.Sheet-cr
{
	clip: rect(auto auto auto 68px);
}

.Sheet-cl
{
	clip: rect(auto 68px auto auto);
}
/* end Box, Sheet */

/* begin Menu */
.nav .r
{
	clip: rect(auto auto auto 916px);
}
/* end Menu */

/* begin MenuItem */
.artmenu a .r
{
	clip: rect(auto auto auto 404px);
}
/* end MenuItem */

/* begin Box, Block */
.Block-tl
{
	clip: rect(auto 20px 20px auto);
}

.Block-tr
{
	clip: rect(auto auto 20px 20px);
}

.Block-bl
{
	clip: rect(20px 20px auto auto);
}

.Block-br
{
	clip: rect(20px auto auto 20px);
}

.Block-tc
{
	clip: rect(auto auto 20px auto);
}

.Block-bc
{
	clip: rect(20px auto auto auto);
}

.Block-cr
{
	clip: rect(auto auto auto 20px);
}

.Block-cl
{
	clip: rect(auto 20px auto auto);
}
/* end Box, Block */

/* begin PostContent */
.PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.Button .btn .r
{
	clip: rect(auto auto auto 408px);
}
/* end Button */

